@mixin element-spacing {
    margin: 0.6rem 0;
    padding: 0.8rem 0;
}

@mixin element-border {
    border: 1px solid $border-color;
}

@mixin element-flex-center{
    display: flex;
    align-items: center;
}