// Font stack
$font-stack: 'Poppins', sans-serif;

// Colores
$black: #000000;
$primary-color: #729E2E;
$secondary-color: #ffffff;
$text-color: #333;
$border-color: #d8d8d8;
$font-title: 2rem;
$font-bold: 700;