body {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #1E1A13;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-weight: 500;
    font-size: 50px;
    text-transform: uppercase;
}

main .desc-fondo {
    height: 100vh;
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 1;
    text-align: center;
}


#desc-section {
    background-color: #000000;
}


#desc-section .wrapper {
    padding: 5rem 3rem;
    text-align: center;

}

.wrapper .texto {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 40%;
    font-weight: 300;
    font-size: 16px;
    margin-right: 40px;
    color: #FFFFFF;
}

.wrapper img {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin-left: 40px;
}

#icons-section {
    text-align: center;
    padding: 4rem 3rem;
    background-color: #1E1A13;
}

#icons-section h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 60px;
}

#icons-section .icono {
    display: inline-block;
    width: 280px;
    margin: 10px;
}

.icono i {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 38px;
}

#icons-section p {
    font-size: 25px;
    font-weight: lighter;
}


#imagenes {
    height: 40vh;
    background-color: #000000;
    text-align: center;
    align-content: center;
}

#imagenes img {
    width: 300px;
    height: 200px;
    margin: 5px;
    object-fit: cover;
}


footer {
    background-color: #1E1A13;
    text-align: center;
    height: 100px;
    padding: 10px 0;
    align-content: center;
}

footer p {
    margin: 0;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}